<div layout="vertical" layout-fill>

  <md-content style="width: 100%;">


    <section class="jumbotron">

      <div flex ng-cloak>

          <md-grid-list
                  md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="4:3"
                  md-gutter="8px" md-gutter-gt-sm="4px"
                  >

            <md-grid-tile
                    ng-repeat="tile in list.tiles"
                    md-colspan-gt-sm="{{tile.span.col}}"
                    md-rowspan-gt-sm="{{tile.span.row}}"
                    md-colspan-sm="1"
                    md-colspan-xs="1"
                    ng-style="{ 'background-color': tile.background }"

                    >

                    <img
                        ng-src="https://storage.aggregion.com/api/files/{{ tile.previewImages[0] }}/shared/data"
                        err-src="https://storage.aggregion.com/api/files/12ce171be47031a58f6d12ddefca93d52bda709b1b720d50cf48747d6cd44cb6/shared/data"
                        >

              <md-grid-tile-footer>
                  <h3>
                      <a ng-href="/one/{{ tile.id }}" href="/one/{{ tile.id }}" >
                      {{tile.title.default}}
                      </a>
                  </h3>
              </md-grid-tile-footer>
            </md-grid-tile>

          </md-grid-list>

      </div>

    </section>


  </md-content>

</div>
