<div layout="vertical" layout-fill>

  <md-content style="width: 100%;">
    <header>
        <a href="/">Return to index</a>
    </header>



      <md-list>
          <md-subheader class="md-no-sticky">Книга</md-subheader>
          <md-list-item class="md-3-line">
              <img ng-src="https://storage.aggregion.com/api/files/{{ one.booksData.previewImages[0] || '12ce171be47031a58f6d12ddefca93d52bda709b1b720d50cf48747d6cd44cb6' }}/shared/data"
                   err-src="https://storage.aggregion.com/api/files/12ce171be47031a58f6d12ddefca93d52bda709b1b720d50cf48747d6cd44cb6/shared/data"
                   class="md-avatar"
                   alt="{{one.booksData.description.default}}" />
              <div class="md-list-item-text" layout="column">
                  <h3 ng-show="one.booksData.options.title">Title: {{ one.booksData.options.title }}</h3>
                  <h3 ng-show="one.booksData.options.description.default">Description: {{ one.booksData.options.description.default }}</h3>
                  <h3 ng-show="one.booksData.options.authors">Authors: {{ one.booksData.options.authors }}</h3>
                  <h3 ng-show="one.booksData.platformSupport.length">Platforms:</h3>
                  <ul ng-show="one.booksData.platformSupport.length">

                      <li ng-repeat="platfom in one.booksData.platformSupport">{{ platfom }}</li>
                  </ul>
                  <h3 ng-show="one.booksData.bundles.length">Bundles:</h3>
                  <p ng-show="one.booksData.bundles.length" ng-repeat="bundle in one.booksData.bundles">
                      {{ bundle.resourceId }} in catalog {{ bundle.catalog }}, ver. {{ bundle.version }}
                  </p>
                  <p ng-hide="one.booksData.bundles.length">No bundles available</p>
              </div>
          </md-list-item>

      </md-list>


  </md-content>

</div>
